In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [74]:
!ls "/content/drive/My Drive/app"

contextDataset.csv  data3.csv  data.csv		 knn.py		TesteColab
data1.csv	    data4.csv  Exemplo1.ipynb	 mnist_cnn.py	Titanic.csv
data2.csv	    data6.csv  ExemploKnn.ipynb  naivebayes.py

In [55]:
import pandas as pd
dataset = pd.read_csv("/content/drive/My Drive/app/data4.csv")
dataset.head(10)

   idcontexto       contexto
0           1  Dia da semana
1           2  Fim de Semana
2           3        Feriado

In [57]:
import pandas as pd
dataset = pd.read_csv("/content/drive/My Drive/app/data3.csv")
dataset.head(10)

   iditem            item
0       1  Homem De Ferro
1       2    Transformers
2       3   Os Farofeiros
3       4         Titanic
4       5   Os Vingadores
5       6    Homem Aranha

In [75]:
import pandas as pd
dataset = pd.read_csv("/content/drive/My Drive/app/data6.csv")
dataset.head(10)

   iduser        username
0      10    Fabio Santos
1      11   Jose Cipriano
2      12  Maria da Silva

In [60]:
import pandas as pd
dataset = pd.read_csv("/content/drive/My Drive/app/data2.csv")
dataset.head(10)

   user  item  context  rating
0    10     1        2       5
1    10     2        1       2
2    10     3        2       4
3    10     4        3       1
4    10     5        1       3
5    10     6        2       4
6    10     7        1       1
7    10     8        3       3
8    10     9        2       5
9    10    10        1       3

In [0]:
# Preparacao do dataset
X = dataset.loc[:,'user':'context']
Y = dataset.loc[:,'rating']

In [70]:
# Importar a biblioteca sklearn para GaussianNB (rede bayesiana)
from sklearn.naive_bayes import GaussianNB

naiveBayes = GaussianNB()
# gerar modelo de aprendizgem
naiveBayes.fit(X,Y)

# Prepare 3 regitros contextuais de teste. 
X_test = [[10,2,1],
         [11,4,3],
         [12,1,1]]

# Test the model(returns the class)
predictions = naiveBayes.predict(X_test)
print ("Resultado da predicao")
print ("Ratings predizidos de acordo com o contexto atual")
print(predictions)

Resultado da predicao
Ratings predizidos de acordo com o contexto atual
[1 4 1]